* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
}

.container {
    max-width: 500px;
    margin: 0 auto;
    background-color: rgba(25, 248, 44, 0.089);
    box-shadow: 1px 1px 100px 1px rgba(43, 223, 52, 0.39);
    padding: 100px 100px;
    height: 1000px;
    z-index: 1;
    position: relative;
}

.container h1, h2, h3 {
    color: #fff;
    margin-bottom: 20px;
}


form {
    align-items: center;
    color: #fff;
    display: block;
    max-width: 300px;
}

form input {
    padding: 4px;
    width: 300px;
    margin-bottom: 10px;
    margin-top: 8px;
}

form textarea {
    resize: none;
    width: 100%;
}

form button {
    font-weight: bold;
    margin-top: 16px;
    margin-left: 40%;
    padding: 10px;
    background-color: green;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    border: none;
}

form button:hover {
    background-color: rgba(18, 231, 18, 0.644);
}

.style1 {
    z-index: 0;
    position: relative;
    height: 700px;
    width: 100%;
    max-width: 600px;
    background-image: url('/images/imgcurso.jpg');
    background-size: cover;
    border-radius: 50%;
    margin-left: -300px;
    margin-top: -900px;
    padding: 0;
    box-shadow: 2px 2px 100px 1px rgba(223, 43, 43, 0.925);
}

span {
    color: red;
}

footer {
    z-index: 1;
    text-align: center;
    width: 100%;
    color: #fff;
}