body {
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


span {  
    top: 300px;
    margin-bottom: -500px;
    float: left;
    color: aliceblue;
    margin-left: 30%;
    z-index: 1;
    position: relative;
    font-size: 50px;
}

video {
    position: relative;
    z-index: 0;
}